@import 'src/assets/darkthin';

.container {
    @include typography;

    text-align: left;
    outline: none;

    aira-completer {
        ul {
            list-style-type: none;
            
            > li > span {
                text-decoration: underline;
            }
        }
    }
}